
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/list">Oferta</a></li>
      <li><a href="/basket">Koszyk ({{this.basketService.numberOfProducts}})</a></li>
    </ul>
    <ul class="nav navbar-nav" [hidden]="this.isAdmin == false">
      <li><a  href="/products">Produkty</a></li>
      <li><a href="/categories">Kategorie</a></li>
      <li><a href="/users">Użytkownicy</a></li>
      <li><a href="/purchaselist">Zamówienia</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ><span class="glyphicon glyphicon-user"></span> {{this.loggedUser.fullName}} </a></li>
      <li><a href="" (click)="this.logout()"><span class="glyphicon glyphicon-log-out"> </span> Wyloguj</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
