<h1>
  Koszyk:
</h1>

<table class="table table-bordered table-hover">
  <tr style="background-color: ghostwhite">
    <th>Obrazek</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilość</th>
    <th>Razem</th>
    <th>Akcja</th>
  </tr>

  <tr *ngFor="let product of this.products" [hidden]="this.numberInBasket(product.prodId)==0">
    <td><img class="prodImg" src="{{product.img}}" /></td>
    <td>{{product.tytul}}</td>
    <td>{{product.cena}}</td>
    <td>{{this.numberInBasket(product.prodId)}}</td>
    <td>{{this.priceForProduct(product.prodId)}}</td>
    <td>
      <button class="btn btn-info" (click)="this.basketService.addProduct(product.prodId)">+</button>
      <button class="btn btn-danger" (click)="this.basketService.removeProduct(product.prodId)">-</button>
      <button class="btn btn-danger" (click)="this.basketService.removeProductAll(product.prodId)">X</button>
    </td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td><strong>Łącznie:</strong> {{this.sumOfPrice()}}</td>
    <td></td>
  </tr>
</table>

<a href="/purchase" class="btn btn-success">Przejdź do podsumowania</a>
