<h1>
  Zamówienia
</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Data</th>
    <th>Produkty</th>
    <th>Cena</th>
    <th>Dostawa</th>
    <th>Użytkownik</th>
    <th>Adres</th>
    <th>Akcja</th>

  </tr>

  <tr *ngFor="let purchase of this.purchases">
    <td>{{ purchase.id }}</td>
    <td>{{ purchase.date }}</td>
    <td>
      <div *ngFor="let arr of this.getProductList(purchase.jsonOrder)">
        {{arr}}
      </div>
    </td>
    <td>{{purchase.totalPrice}}zł</td>
    <td>{{purchase.sendType}}</td>
    <td>{{this.getUsername(purchase.userId)}}</td>
    <td>{{purchase.adress}}</td>
    <td><button class="btn btn-danger btn-xs" (click)="this.deletePurchase(purchase.id)">Usuń</button></td>
  </tr>

</table>
