<h1>Produkty:</h1><br/><br/>

<form [formGroup]="productForm" (ngSubmit)="addProduct($event)">

  <div class="row">
    <label for="tytul" class="col-sm-offset-4 col-sm-1 labelPos">Nazwa</label>
    <div class="col-sm-3"><input id="tytul" formControlName="tytul" type="text" placeholder="Nazwa produktu" class="form-control" /></div>
  </div>

  <div class="row">
    <label for="img" class="col-sm-offset-4 col-sm-1 labelPos">Obrazek</label>
    <div class="col-sm-3"><textarea id="img" formControlName="img" type="text" placeholder="Link do obrazka" class="form-control" ></textarea></div>
  </div>

  <div class="row">
    <label for="catId" class="col-sm-offset-4 col-sm-1 labelPos">Kategoria</label>
    <div class="col-sm-3">
      <select id="catId" formControlName="catId" placeholder="Kategoria" class="form-control">
        <option *ngFor="let category of this.categories" value="{{category.catId}}"  >{{category.nazwa}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <label for="cena" class="col-sm-offset-4 col-sm-1 labelPos">Cena</label>
    <div class="col-sm-3"><input id="cena" type="number" min="0" step="0.01" formControlName="cena" placeholder="Cena" class="form-control" /></div>
  </div>

  <div class="row">
    <label for="opis" class="col-sm-offset-4 col-sm-1 labelPos">Opis</label>
    <div class="col-sm-3"><textarea id="opis" formControlName="opis" type="text" placeholder="Opis" class="form-control" ></textarea></div>
  </div>

  <button type="submit" class="btn btn-success col-sm-1 col-sm-offset-6">Dodaj</button>
</form>
<br/><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Zdjęcie</th>
    <th>Kategoria</th>
    <th>Cena</th>
    <th>Opis</th>
    <th>Akcja</th>
  </tr>

  <tr *ngFor="let product of this.products">
    <td>{{ product.prodId }}</td>

    <td  [ngSwitch]="product.prodId != this.editProductId">
      <div *ngSwitchCase="true">
        {{ product.tytul }}
      </div>
      <div *ngSwitchDefault>
        <input id="nazwaEdit" type="text" placeholder="Nazwa produktu" class="form-control" value="{{product.tytul}}"/>
      </div>
    </td>

    <td  [ngSwitch]="product.prodId != this.editProductId">
      <div *ngSwitchCase="true">
        <img class="productImage" src="{{ product.img }}" />
      </div>
      <div *ngSwitchDefault>
        <input id="imgEdit" type="text" placeholder="Link do obrazka" class="form-control" value="{{product.img}}"/>
      </div>
    </td>

    <td  [ngSwitch]="product.prodId != this.editProductId">
      <div *ngSwitchCase="true">
        {{this.getCategoryName(product.catId)}}
      </div>
      <div *ngSwitchDefault>
        <select id="catEdit">
          <option *ngFor="let category of this.categories" value="{{category.catId}}" [attr.selected]=" category.catId == product.catId ? 'selected' : null" >{{category.nazwa}}</option>
        </select>
      </div>
    </td>

    <td  [ngSwitch]="product.prodId != this.editProductId">
      <div *ngSwitchCase="true">
        {{product.cena}}
      </div>
      <div *ngSwitchDefault>
        <input id="cenaEdit" type="number" min="0" step="0.01" placeholder="Cena" class="form-control" value="{{product.cena}}"/>
      </div>
    </td>

    <td  [ngSwitch]="product.prodId != this.editProductId">
      <div *ngSwitchCase="true">
        {{ product.opis }}
      </div>
      <div *ngSwitchDefault>
        <input id="opisEdit" type="text" placeholder="Opis produktu" class="form-control" value="{{product.opis}}"/>
      </div>
    </td>

    <td [ngSwitch]="product.prodId != this.editProductId">
      <div *ngSwitchCase="true">
        <button class="btn btn-info btn-xs" (click)="this.editProduct(product.prodId)">Edytuj</button>
        <button class="btn btn-danger btn-xs" (click)="this.removeProduct(product.prodId)">Usuń</button>
      </div>
      <div *ngSwitchDefault>
        <button class="btn btn-info btn-xs" (click)="this.updateProduct(product.prodId)">Zapisz</button>
        <button class="btn btn-info btn-xs" (click)="this.editProductId=-1">Anuluj</button>
      </div>
    </td>

  </tr>
</table>
